.my_Institution {
  width: 100px;
  height: 25px;
}

.my_InstitutionType {
  width: 100px;
  height: 25px;
}

.my_Place {
  width: 100px;
  height: 25px;
}

.my_RequestDate {
  width: 100px;
  height: 20px;
}

.my_Search {
  width: 60px;
  height: 25px;
}

.my_Name {
  width: 200px;
  height: 20px;
}

.my_PhoneNo {
  width: 100px;
  height: 20px;
}

.my_RequestToken {
  width: 105px;
  height: 25px;
}

.my_TokenResult
{
  height: 25px;
}

.my_Error{
  color:red;
}

.my_CancelToken
{
  height: 25px;
}





